<div *ngIf="matchData">

    <h1 class="map-name custom-font">{{matchData.map}}</h1>
    <h2 class="map-score custom-font">{{matchData.team1Score}} : {{matchData.team2Score}}</h2>

    <p *ngIf="wonTeam == 2" class="team custom-font">WIN</p>
    <p *ngIf="wonTeam == 3" class="team custom-font">LOSS</p>
    <p class="score custom-font">{{matchData.team2Score}}</p>
    <table mat-table class="data-table" [dataSource]="dataSourceTeam2" matSort #sort1="matSort">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let player">
                <div class="player-name custom-font">
                    <img src={{player.imageUrl}} alt="Player Image" width="30" height="30">
                    <a href="https://steamcommunity.com/profiles/{{ player.steamId }}" target="_blank">
                        {{ player.name }}
                    </a>
                    <div class="VAC" *ngIf="player.vac">
                        VAC
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="hltv2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>HLTV 2.0</th>
            <td mat-cell *matCellDef="let player">{{ player.hltv2 }}</td>
        </ng-container>

        <ng-container matColumnDef="kills">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kills</th>
            <td mat-cell *matCellDef="let player">{{ player.kills }}</td>
        </ng-container>

        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Deaths</th>
            <td mat-cell *matCellDef="let player">{{ player.deaths }}</td>
        </ng-container>

        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assists</th>
            <td mat-cell *matCellDef="let player">{{ player.assists }}</td>
        </ng-container>

        <ng-container matColumnDef="mvps">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MVP</th>
            <td mat-cell *matCellDef="let player">{{ player.mvps }}</td>
        </ng-container>

        <ng-container matColumnDef="adr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ADR</th>
            <td mat-cell *matCellDef="let player">{{ player.adr }}</td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
            <td mat-cell *matCellDef="let player">{{ player.score }}</td>
        </ng-container>

        <tr class="headers custom-font" mat-header-row
            *matHeaderRowDef="['name','hltv2','kills', 'deaths', 'assists', 'mvps','adr','score']">
        </tr>
        <tr class="custom-font numbers" mat-row
            *matRowDef="let row; columns: ['name','hltv2','kills', 'deaths', 'assists', 'mvps', 'adr', 'score']"></tr>
    </table>

    <div class="spacer"></div>

    <p *ngIf="wonTeam == 3" class="team custom-font">WIN</p>
    <p *ngIf="wonTeam == 2" class="team custom-font">LOSS</p>
    <p class="score custom-font">{{matchData.team1Score}}</p>
    <table mat-table class="data-table" [dataSource]="dataSourceTeam3" matSort #sort2="matSort">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let player">
                <div class="player-name custom-font">
                    <img src={{player.imageUrl}} alt="Player Image" width="30" height="30">
                    <a href="https://steamcommunity.com/profiles/{{ player.steamId }}" target="_blank">
                        {{ player.name }}
                    </a>
                    <div class="VAC" *ngIf="player.vac">
                        VAC
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="hltv2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>HLTV 2.0</th>
            <td mat-cell *matCellDef="let player">{{ player.hltv2 }}</td>
        </ng-container>

        <ng-container matColumnDef="kills">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kills</th>
            <td mat-cell *matCellDef="let player">{{ player.kills }}</td>
        </ng-container>

        <ng-container matColumnDef="deaths">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Deaths</th>
            <td mat-cell *matCellDef="let player">{{ player.deaths }}</td>
        </ng-container>

        <ng-container matColumnDef="assists">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Assists</th>
            <td mat-cell *matCellDef="let player">{{ player.assists }}</td>
        </ng-container>

        <ng-container matColumnDef="mvps">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MVP</th>
            <td mat-cell *matCellDef="let player">{{ player.mvps }}</td>
        </ng-container>

        <ng-container matColumnDef="adr">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ADR</th>
            <td mat-cell *matCellDef="let player">{{ player.adr }}</td>
        </ng-container>

        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
            <td mat-cell *matCellDef="let player">{{ player.score }}</td>
        </ng-container>

        <tr class="headers custom-font" mat-header-row
            *matHeaderRowDef="['name','hltv2','kills', 'deaths', 'assists', 'mvps', 'adr', 'score']"></tr>
        <tr class="numbers custom-font" mat-row
            *matRowDef="let row; columns: ['name','hltv2','kills', 'deaths', 'assists', 'mvps', 'adr', 'score']"></tr>
    </table>
</div>